django==1.11.6
google-api-python-client==1.6.4
social-auth-app-django
unipath
django-mediumeditor
numpy==1.13.3
google-auth-oauthlib
pyasn1==0.1.9
pyasn1-modules==0.2.1
google-cloud==0.30.0
google-cloud-bigquery==0.28.0