{% extends 'base.html' %}

{% block headers %} 
<meta property="og:url"                content="http://www.columns.fr/" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Columns" />
<meta property="og:description"        content="Columns est un média collaboratif. Nous vous permettons de publier du contenu et vous aidons à promouvoir. Nous vous proposons une liste de courts articles écrits par vos amis et par des experts, sur vos centres d'intérêt." />
<meta property="og:image"              content="http://www.columns.fr/static/logo/columns_grey.png" />
{{ block.super }} 
{% endblock %}

{% block articles %}
<div class="col-sm-8 blog-main">
          
          <div class="row">
            <div class="col-sm-6">
				{% for article in derniers_articles_1 %}
				<section class="blog-post">
					<div class="panel panel-default">
						<div class="panel-body">
              <a src="{{ article.photo.url }}" class="img-responsive" href="/{{ article.url }}" style="width: 100%;"> </a>
							<div class="blog-post-meta">
								<span class="label label-light label-{{ article.categorie.colour }}">{{ article.categorie }}</span> <!-- primary, warning, info, ...-->
				                <p class="blog-post-date pull-right" style="font-weight: bold; color: #000";>{{ article.time_to_read }} min</p>
				            </div>
				            <div class="blog-post-content">
				                <a href="/{{ article.url }}">
				                	<h2 class="blog-post-title">{{ article.titre }}</h2>
				                </a>
				              	<p>{{ article.sous_titre|safe|truncatewords_html:80 }}</p>
				                <a class="btn btn-info" href="/{{ article.url }}">Lire</a>
				                <a class="blog-post-share " id="share_fb_{{ article.id }}" href="#">
                          <i class="fa fa-facebook"></i>
                          <!--<i class="material-icons">&#xE80D;</i>-->
                        </a>

                        <a class="blog-post-share " style="padding-left: 10px;"  href="https://twitter.com/share?url=https%3A%2F%2Fwww.columns.fr%2F{{ article.url }}&related=twitterapi%2Ctwitter&hashtags=columns&text={{ article.titre }}">
                          <i class="fa fa-twitter"></i>
                          <!--<i class="material-icons">&#xE80D;</i>-->
                        </a>
                          <script>
                          window.fbAsyncInit = function() {
                            FB.init({
                              appId            : '160658967855882',
                              autoLogAppEvents : true,
                              xfbml            : true,
                              version          : 'v2.10'
                            });
                            FB.AppEvents.logPageView();
                          };

                          (function(d, s, id){
                             var js, fjs = d.getElementsByTagName(s)[0];
                             if (d.getElementById(id)) {return;}
                             js = d.createElement(s); js.id = id;
                             js.src = "//connect.facebook.net/en_US/sdk.js";
                             fjs.parentNode.insertBefore(js, fjs);
                           }(document, 'script', 'facebook-jssdk'));
                          document.getElementById("share_fb_{{ article.id }}").onclick = function() {
                            FB.ui({
                              method: 'share',
                              display: 'popup',
                              href: 'http://www.columns.fr/{{ article.url }}',
                            }, function(response){});
                          }
                          </script>
				                </a>
				            </div>
				        </div>
				    </div>
				</section>
				{% empty %}
    			<p>Aucun article.</p>
{% endfor %}
</div>


<div class="col-sm-6">
{% for article in derniers_articles_2 %}
<section class="blog-post">
	<div class="panel panel-default">
		<div class="panel-body">
      <img src="{{ article.photo.url }}" class="img-responsive" style="width: 100%;" />
			<div class="blog-post-meta">
				<span class="label label-light label-{{ article.categorie.colour }}">{{ article.categorie }}</span>
                <p class="blog-post-date pull-right" style="font-weight: bold; color: #000";>{{ article.time_to_read }} min</p>
            </div>
            <div class="blog-post-content">
                <a href="/{{ article.url }}">
                	<h2 class="blog-post-title">{{ article.titre }}</h2>
                </a>
              	<p>{{ article.sous_titre|safe|truncatewords_html:80 }}</p>
                <a class="btn btn-info" href="/{{ article.url }}">Lire</a>
                <a class="blog-post-share " id="share_fb_{{ article.id }}" href="#">
                          <i class="fa fa-facebook"></i>
                          <!--<i class="material-icons">&#xE80D;</i>-->
                        </a>

                        <a class="blog-post-share " style="padding-left: 10px;"  href="https://twitter.com/share?url=https%3A%2F%2Fwww.columns.fr%2F{{ article.url }}&related=twitterapi%2Ctwitter&hashtags=columns&text={{ article.titre }}">
                          <i class="fa fa-twitter"></i>
                          <!--<i class="material-icons">&#xE80D;</i>-->
                        </a>
                          <script>
                          window.fbAsyncInit = function() {
                            FB.init({
                              appId            : '160658967855882',
                              autoLogAppEvents : true,
                              xfbml            : true,
                              version          : 'v2.10'
                            });
                            FB.AppEvents.logPageView();
                          };

                          (function(d, s, id){
                             var js, fjs = d.getElementsByTagName(s)[0];
                             if (d.getElementById(id)) {return;}
                             js = d.createElement(s); js.id = id;
                             js.src = "//connect.facebook.net/en_US/sdk.js";
                             fjs.parentNode.insertBefore(js, fjs);
                           }(document, 'script', 'facebook-jssdk'));
                          document.getElementById("share_fb_{{ article.id }}").onclick = function() {
                            FB.ui({
                              method: 'share',
                              display: 'popup',
                              href: 'http://www.columns.fr/{{ article.url }}',
                            }, function(response){});
                          }
                          </script>
            </div>
        </div>
    </div>
</section>
{% empty %}
{% endfor %}
            </div>
          </div>

          <nav>
            <ul class="pager">
              {% if bool_prec %}
              <li><a class="withripple" href="{% url 'list_articles' page_prec %}">Précédent</a></li>
              {% else %}
              <li><a class="withripple active" href="#">Précédent</a></li>
              {% endif %}

              {% if bool_suiv %}
              <li><a class="withripple" href="{% url 'list_articles' page_suiv %}">Suivant</a></li>
              {% else %}
              <li><a class="withripple active" href="#">Suivant</a></li>
              {% endif %}
            </ul>
          </nav>

        </div>
{% endblock %}