{% extends 'base.html' %}


{% block articles %}
<div class="col-sm-8 blog-main">
        <section class="blog-post">
          <h1>Fils de publication les plus pertinents</h1>
          </br>
        </section>
        

{% for article in fils %}
          <section class="blog-post">
            <div class="panel panel-default">
              <img src="{{ article.photo.url }}" class="img-responsive" style="width: 100%;" />
              <div class="panel-body">
               <div class="blog-post-content">
                  <h1 class="blog-post-title" style="font-weight: bold;"><a style="color: black;" href="{{ article.url }}">{{ article.nom }}</a></h1>

                  {{ article.description|safe|linebreaks }}

                </div>
              </div>
            </div>
          </section>
{% empty %}
          <p>Aucun fil.</p>
{% endfor %}


          
          <nav>
            <ul class="pager">
              {% if bool_prec %}
              <li><a class="withripple" href="{% url 'list_articles' page_prec %}">Précédent</a></li>
              {% else %}
              <li><a class="withripple active" href="#">Précédent</a></li>
              {% endif %}

              {% if bool_suiv %}
              <li><a class="withripple" href="{% url 'list_articles' page_suiv %}">Suivant</a></li>
              {% else %}
              <li><a class="withripple active" href="#">Suivant</a></li>
              {% endif %}
            </ul>
          </nav>

        </div>
{% endblock %}