{% extends 'base.html' %}


{% block articles %}
<div class="col-sm-8 blog-main">
          
          <div class="row">
            <div class="col-sm-6">
				{% for article in derniers_articles_1 %}
				<section class="blog-post">
					<div class="panel panel-default">
						<div class="panel-body">
              <img src="{{ article.photo.url }}" class="img-responsive" />
							<div class="blog-post-meta">
								<span class="label label-light label-{{ article.categorie.colour }}">{{ article.categorie }}</span> <!-- primary, warning, info, ...-->
				                <p class="blog-post-date pull-right">{{ article.date|date:"DATE_FORMAT" }}</p>
				            </div>
				            <div class="blog-post-content">
				                <a href="{% url 'lire' article.id %}">
				                	<h2 class="blog-post-title">{{ article.titre }}</h2>
				                </a>
				              	<p>{{ article.sous_titre|truncatewords_html:80 }}</p>
				                <a class="btn btn-info" href="{% url 'lire' article.id %}">Lire</a>
				                <a class="blog-post-share pull-right" id="share_{{ article.id }}" href="#">
				                	<i class="material-icons">&#xE80D;</i>
				                </a>
                        <script>
                          window.fbAsyncInit = function() {
                            FB.init({
                              appId            : '160658967855882',
                              autoLogAppEvents : true,
                              xfbml            : true,
                              version          : 'v2.10'
                            });
                            FB.AppEvents.logPageView();
                          };

                          (function(d, s, id){
                             var js, fjs = d.getElementsByTagName(s)[0];
                             if (d.getElementById(id)) {return;}
                             js = d.createElement(s); js.id = id;
                             js.src = "//connect.facebook.net/en_US/sdk.js";
                             fjs.parentNode.insertBefore(js, fjs);
                           }(document, 'script', 'facebook-jssdk'));
                          document.getElementById("share_{{ article.id }}").onclick = function() {
                            FB.ui({
                              method: 'share',
                              display: 'popup',
                              href: 'http://test.columns.fr/article/{{ article.id }}',
                            }, function(response){});
                          }
                          </script>
				            </div>
				        </div>
				    </div>
				</section>
				{% empty %}
    			<p>Aucun article.</p>
{% endfor %}
</div>


<div class="col-sm-6">
{% for article in derniers_articles_2 %}
<section class="blog-post">
	<div class="panel panel-default">
		<div class="panel-body">
      <img src="{{ article.photo.url }}" class="img-responsive" />
			<div class="blog-post-meta">
				<span class="label label-light label-{{ article.categorie.colour }}">{{ article.categorie }}</span>
                <p class="blog-post-date pull-right">{{ article.date|date:"DATE_FORMAT" }}</p>
            </div>
            <div class="blog-post-content">
                <a href="{% url 'lire' article.id %}">
                	<h2 class="blog-post-title">{{ article.titre }}</h2>
                </a>
              	<p>{{ article.sous_titre|truncatewords_html:80 }}</p>
                <a class="btn btn-info" href="{% url 'lire' article.id %}">Lire</a>
                <a class="blog-post-share pull-right" id="share_{{ article.id }}" href="#">
                	<i class="material-icons">&#xE80D;</i>
                </a>
                <script>
                          window.fbAsyncInit = function() {
                            FB.init({
                              appId            : '160658967855882',
                              autoLogAppEvents : true,
                              xfbml            : true,
                              version          : 'v2.10'
                            });
                            FB.AppEvents.logPageView();
                          };

                          (function(d, s, id){
                             var js, fjs = d.getElementsByTagName(s)[0];
                             if (d.getElementById(id)) {return;}
                             js = d.createElement(s); js.id = id;
                             js.src = "//connect.facebook.net/en_US/sdk.js";
                             fjs.parentNode.insertBefore(js, fjs);
                           }(document, 'script', 'facebook-jssdk'));
                          document.getElementById("share_{{ article.id }}").onclick = function() {
                            FB.ui({
                              method: 'share',
                              display: 'popup',
                              href: 'http://test.columns.fr/article/{{ article.id }}',
                            }, function(response){});
                          }
                          </script>
            </div>
        </div>
    </div>
</section>
{% empty %}
{% endfor %}
            </div>
          </div>

          <nav>
            <ul class="pager">
              {% if bool_prec %}
              <li><a class="withripple" href="{% url 'tag_articles' id=tag page=page_prec %}">Précédent</a></li>
              {% else %}
              <li><a class="withripple active" href="#">Précédent</a></li>
              {% endif %}

              {% if bool_suiv %}
              <li><a class="withripple" href="{% url 'tag_articles' id=tag page=page_suiv %}">Suivant</a></li>
              {% else %}
              <li><a class="withripple active" href="#">Suivant</a></li>
              {% endif %}
            </ul>
          </nav>

        </div>
{% endblock %}