{% extends 'base.html' %}

{% load static %}


{% block article %}

<div class="col-sm-8 blog-main">

          <section class="blog-post">
            <div class="panel panel-default">
              <img src="http://paullaros.nl/material-blog-1-1/img/technology/unsplash-2.jpg" class="img-responsive" />
              <div class="panel-body">
                <div class="blog-post-meta">
                  <span class="label label-light label-{{ article.categorie.colour }}">{{ article.categorie }}</span>
                  <p class="blog-post-date pull-right">{{ article.date|date:"DATE_FORMAT" }}</p>
                </div>
                <div class="blog-post-content">
                  <h1 class="blog-post-title">{{ article.titre }}</h1>
                  
                  <p>{{ article.contenu|linebreaks }}</p>

                  <p> <strong> {{ signature }} </strong> </p>
                  {% if has_bio %}
                  <p> {{ bio }}</p>
                  {% endif %}
                </div>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" type="button" href="{% url 'like' article.id %}">
                  J'aime <span class="badge">{{number_of_likes}}</span>
                </a>
                <a class="btn btn-primary" type="button" href="{% url 'save' article.id %}">
                  Sauvegarder
                </a>
              {% endif %}
                <div id="shareBtn" class="btn btn-primary">Partager</div>

                <script>
                window.fbAsyncInit = function() {
                  FB.init({
                    appId            : '160658967855882',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v2.10'
                  });
                  FB.AppEvents.logPageView();
                };

                (function(d, s, id){
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) {return;}
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_US/sdk.js";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
                document.getElementById('shareBtn').onclick = function() {
                  FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: 'http://test.columns.fr/article/{{ article.id }}',
                  }, function(response){});
                }
                </script>
              </div>
            </div>
          </section><!-- /.blog-post -->


          <section class="blog-comments">
            

            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="blog-post-title">Comments</h2>
                </br></br>
                <div id="disqus_thread">

                {% for comment in comments %}
                <div>
                <div><strong>{{ comment.auteur.first_name }} {{ comment.auteur.last_name }}</strong></span> <!-- primary, warning, info, ...-->
                        <p class="blog-post-date pull-right">{{ comment.date|date:"DATE_FORMAT" }}</p>
                    
                        <p>{{ comment.contenu }}</p>
                        </br></br>
                    </div>
                {% empty %}
          <div>Aucun commentaire.</div>
          {% endfor %}
          
          </div>
          {% if user.is_authenticated %}
                <form class="form-horizontal style-form" action="{% url 'lire' article.id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                      <input type="submit" class="btn btn-theme" value="Publier" />
                </form>
          {% endif %}
              </div>
            </div>
          </section>

        </div>

{% endblock %}

