{% extends 'base.html' %}

{% load static %}

{% block title %} {{ article.titre }} - {{ block.super }} {% endblock %}

{% block article %}

<div class="col-sm-8 blog-main">

          <section class="blog-post">
            <div class="panel panel-default">
              <img src="{{ article.photo.url }}" class="img-responsive" />
              <div class="panel-body">
                <div class="blog-post-meta">
                  <span class="label label-light label-{{ article.categorie.colour }}">{{ article.categorie }}</span>
                  <p class="blog-post-date pull-right">{{ article.date|date:"DATE_FORMAT" }}</p>
                </div>
                <div class="blog-post-content">
                  <h1 class="blog-post-title" style="font-family: 'Times New Roman', Times, serif;">{{ article.titre }}</h1>

                  <h2 style="font-family: 'Times New Roman', Times, serif;">{{ article.sous_titre }}</h2>

                  {{ article.contenu|safe|linebreaks }}

                  <p style="font-family: 'Times New Roman', Times, serif;"> <strong> {{ signature }} </strong> </p>
                  {% if has_bio %}
                  <p style="font-family: 'Times New Roman', Times, serif;"> {{ bio }}</p>
                  {% endif %}
                </div>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" type="button" href="{% url 'like' article.id %}">
                  Féliciter <span class="badge">{{number_of_likes}}</span>
                </a>
                <a class="btn btn-primary" type="button" href="{% url 'save' article.id %}">
                  Sauvegarder
                </a>
              {% endif %}
                <div id="shareBtn" class="btn btn-primary">Facebook</div>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" style="padding-left: 10px;"  href="https://twitter.com/share?url=https%3A%2F%2Fwww.columns.fr%2F{{ article.url }}?utm_source=twitter%26utm_medium={{ user.username }}&related=twitterapi%2Ctwitter&hashtags=columns&text={{ article.titre }}">Twitter</a>
                {% else %}
                <a class="btn btn-primary" style="padding-left: 10px;"  href="https://twitter.com/share?url=https%3A%2F%2Fwww.columns.fr%2F{{ article.url }}?utm_source=twitter&related=twitterapi%2Ctwitter&hashtags=columns&text={{ article.titre }}">Twitter</a>
                {% endif %}
                <script>
                window.fbAsyncInit = function() {
                  FB.init({
                    appId            : '160658967855882',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v2.10'
                  });
                  FB.AppEvents.logPageView();
                };

                (function(d, s, id){
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) {return;}
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_US/sdk.js";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
                document.getElementById('shareBtn').onclick = function() {
                  FB.ui({
                    method: 'share',
                    display: 'popup',
                    {% if user.is_authenticated %}
                    href: 'http://www.columns.fr/article/{{ article.id }}?utm_source=facebook&utm_medium={{ user.username }}',
                    {% else %}
                    href: 'http://www.columns.fr/article/{{ article.id }}?utm_source=facebook',
                    {% endif %}
                  }, function(response){});
                }
                </script>
              </div>
            </div>
          </section><!-- /.blog-post -->
          <style type="text/css">
          .h1, h1 {
                font-size: 22px;
                color: #000;
                line-height: 1.58;
            }
          .h2, h2 {
                color: #000;
                font-size: 20px;
                line-height: 1.58;
            }
            .blog-post-content p {
                color: #000;
                margin: 18px auto;
                font-size: 18px;
                line-height: 1.58;
                font-family: Georgia,Cambria,'Times New Roman', Times, serif;
            }
            .blog-comments-title, .blog-post-title {
                color: #000;
            }           
          </style>


          <section class="blog-comments">
            

            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="blog-post-title">Feedback</h2>
                </br></br>
                <div id="disqus_thread">

                {% for comment in comments %}
                <div>
                <div><strong>{{ comment.auteur.first_name }} {{ comment.auteur.last_name }}</strong></span> <!-- primary, warning, info, ...-->
                        <p class="blog-post-date pull-right">{{ comment.date|date:"DATE_FORMAT" }}</p>
                    
                        <p>{{ comment.contenu }}</p>
                        </br></br>
                    </div>
                {% empty %}
          <div>Aucun commentaire.</div>
          {% endfor %}
          
          </div>
          {% if user.is_authenticated %}
                <form class="form-horizontal style-form" action="#" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                      <input type="submit" class="btn btn-theme" value="Publier" />
                </form>
          {% endif %}
              </div>
            </div>
          </section>

        </div>

{% endblock %}

