{% extends 'base.html' %}
{% load static %}

{% block articles %}
<head>
{{ form.media }}
</head>
<div class="col-sm-8 blog-main">
	<section class="blog-post">
    {% if envoi %}
        <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">Votre article a bien été envoyé !</h2>
                    </div>
                  </div>
                </div>
{% else %}

                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">Publier un article sur Tribe</h2>
                  	</br>
                      <form class="form-horizontal style-form" enctype="multipart/form-data" action="{% url "new" %}" method="post">

                      	{% csrf_token %}
                        {% for field in form.visible_fields %}
                          {{ field.errors }}
                          
                           <!-- <h3>{{ field.label }}</h3> -->
                         </br>

                          <div>{{ field }}</div>
                          {% endfor %}
    					
    					           <input type="submit" class="btn btn-theme" value="Publier" />
                      </form>
                   </div> 
                  </div>
                </div>

{% endif %}
              </section>
</div>
{% endblock %}


