{% extends 'base.html' %}

{% load static %}

{% block title %} {{ hashtag }} {% endblock %}

{% block article %}

<div class="col-sm-8 blog-main">

          <section class="blog-post">
            <div class="panel panel-default">
              <img src="{{ article.photo.url }}" class="img-responsive" />
              <div class="panel-body">
                <div class="blog-post-content">
                  <h1 class="blog-post-title">Tendances sur Twitter : {{ hashtag }}</h1>
                  </br>
                    {% for row in frequencies %}
                    {{ row.value1 }} : {{ row.value2 }} </br>
                    {% empty %}
                    {% endfor %}

                    </br>
                    {% for row in links %}
                    <blockquote>
                      <a class="MediaCard-borderOverlay" href="{{ row.media_link }}" role="presentation" tabindex="-1" title="View image on Twitter">
                        <span class="u-hiddenVisually">View image on Twitter</span>
                      </a>
                    <a class="alert alert-info" href='{{ row.link }}' ><h4>{{ row.retweets }} retweets </h4> - {{ row.title }}</a> </br>
                  </blockquote>
                    {% empty %}
                    {% endfor %}

                    <style>
                      blockquote.twitter-tweet {
                      display: inline-block;
                      font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
                      font-size: 12px;
                      font-weight: bold;
                      line-height: 16px;
                      border-color: #eee #ddd #bbb;
                      border-radius: 5px;
                      border-style: solid;
                      border-width: 1px;
                      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                      margin: 10px 5px;
                      padding: 0 16px 16px 16px;
                      max-width: 468px;
                    }

                    blockquote.twitter-tweet p {
                      font-size: 16px;
                      font-weight: normal;
                      line-height: 20px;
                    }

                    blockquote.twitter-tweet a {
                      color: inherit;
                      font-weight: normal;
                      text-decoration: none;
                      outline: 0 none;
                    }

                    blockquote.twitter-tweet a:hover,
                    blockquote.twitter-tweet a:focus {
                      text-decoration: underline;
                    }
                    </style>

                    </br>

                    {% for row in data %}
                    {{ row.value2 }} : {{ row.value1 }} </br>
                    {% empty %}
                    {% endfor %}
                    </br>
                </div>

                <script>
                window.fbAsyncInit = function() {
                  FB.init({
                    appId            : '160658967855882',
                    autoLogAppEvents : true,
                    xfbml            : true,
                    version          : 'v2.10'
                  });
                  FB.AppEvents.logPageView();
                };

                (function(d, s, id){
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) {return;}
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_US/sdk.js";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));
                document.getElementById('shareBtn').onclick = function() {
                  FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: 'http://test.columns.fr/article/{{ article.id }}',
                  }, function(response){});
                }
                </script>
              </div>
            </div>
          </section><!-- /.blog-post -->
          <style type="text/css">
          .h1, h1 {
                font-size: 24px;
                color: #000;
            }
          .h2, h2 {
                color: #000;
                font-size: 18px;
            }
            .blog-post-content p {
                color: #000;
                margin: 18px auto;
            }
            body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
                font-family: 'Arial';
            }
            .blog-comments-title, .blog-post-title {
                color: #000;
            }
          </style>

        </div>

{% endblock %}

