{% extends 'base.html' %}

{% load static %}


{% block connexion %}

<div class="col-sm-8 blog-main">
	<section class="blog-post">
                <div class="panel panel-default">
                  <div class="panel-body">


					<div class="blog-post-content">
                      <h2 class="blog-post-title">Se connecter</h2>
                  	</br>
                  	{% if error %}
					<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
					{% endif %}
					{% if user.is_authenticated %}
					Vous êtes connecté (<strong>{{ user.username }}</strong>).
					{% else %}
                      <form class="form-horizontal style-form" method="post">

                      	{% csrf_token %}
    					{{ form.as_p }}
    					<input type="submit" class="btn btn-theme" value="Connexion" />
                      </form>
                      <a href="/authenticate/inscription" type="button" class="btn btn-secondary">Inscription</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </section>
</div>


{% endblock %}