{% extends 'base.html' %}

{% load static %}


{% block userview %}
{% if user.is_authenticated %}
<div class="col-sm-8 blog-main">
	<section class="blog-post">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="blog-post-content">
                      <h2 class="blog-post-title">{{ user.first_name }} {{ user.last_name }} - {{ user.username }}</h2>
                  	</br>
                    
                  <a href="/authenticate/user/mycolumns/0" type="button" class="btn btn-secondary">Mes colonnes</a>
                </br>
                <a href="/authenticate/user/savedcolumns/0" type="button" class="btn btn-secondary">Colonnes sauvegardées</a>
                </br>
                <a href="/authenticate/user/profil" type="button" class="btn btn-secondary">Mon profil</a>
                </br>
                <a href="/new_channel" type="button" class="btn btn-secondary">Nouvelle série d'articles</a>
                <!-- </br>
                <a href="/" type="button" class="btn btn-secondary">Mes séries</a> -->
                </br>
                <a href="/twitter" type="button" class="btn btn-secondary">Tendances</a>
                </br>
                <a href="/authenticate/user/pwd" type="button" class="btn btn-secondary">Mon mot de passe</a>
                </br>
                <a href="/authenticate/deconnexion" type="button" class="btn btn-secondary">Déconnexion</a>
                    
                    </div>
                  </div>
                </div>
              </section>
</div>

{% endif %}

{% endblock %}